/**
 * Created by qi on 2018/7/2.
 */
/**
 * Created by Arley on 2016/12/14.
 */
/*** Basic configuration variables ***/
.tab {
  width: 100%;
  margin-top: 27px;
  height: 42px;
  line-height: 42px;
  border: none;
}
.tab .tab_list {
  overflow: visible;
  width: 100%;
  padding-left: 0;
  border: none ;
  background-color: #F4F4F4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tab .tab_list .tab_item {
  width: 116px;
  height: 40px;
  line-height: 40px;
  /*transition:none;*/
  margin-right: 0;
}
.tab .tab_list .tab_item:after {
  height: 4px;
  top: -4px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.tab .tab_list .tab_item:hover:after {
  display: none;
}
.tab .tab_list .active {
  background-color: #fff;
}
.tab .tab_list .active span {
  position: absolute;
  width: 116px;
  height: 6px;
  left: 0;
  bottom: -4px;
  background-color: #fff;
}
.tab .tab_list .active:hover:after {
  display: block;
}
.carModelList {
  padding-top: 18px;
}
.carModelList .create_item {
  height: 34px;
  line-height: 34px;
}
.carModelList .carModel_list {
  margin-top: 18px;
  width: 100%;
  text-align: center;
}
.carModelList .carModel_list tr {
  height: 48px;
  line-height: 48px;
}
.carModelList .carModel_list tr th,
.carModelList .carModel_list tr td {
  color: #333333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 2%;
}
.carModelList .carModel_list tr .logo {
  vertical-align: middle;
  width: 48px;
  height: 32px;
}
.carModelList .carModel_list tr th:last-child,
.carModelList .carModel_list tr td:last-child {
  padding: 0 0 0 2%;
}
.carModelList .carModel_list tr th:nth-child(2),
.carModelList .carModel_list tr td:nth-child(2) {
  padding: 0 1%;
}
.carModelList .carModel_list .pd1 {
  padding: 0 1%;
}
.carModelList .carModel_list thead tr {
  background: #fafafa;
}
.carModelList .carModel_list thead tr th {
  font-weight: normal;
  font-size: 14px;
}
.carModelList .carModel_list .operate_btn .view,
.carModelList .carModel_list .operate_btn .edit,
.carModelList .carModel_list .operate_btn .delete {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url("../img/operation_small_icon.png") no-repeat;
  vertical-align: middle;
}
.carModelList .carModel_list .operate_btn .edit {
  background-position: 0 -662px;
}
.carModelList .carModel_list .operate_btn .edit:hover {
  background-position: 0 -686px;
}
.carModelList table.normal tr:hover {
  background: #F0FFFE;
  cursor: pointer;
}
.new_brand {
  padding-top: 20px;
}
.new_brand .row_item {
  margin-bottom: 10px;
  min-height: 30px;
  overflow: hidden;
}
.new_brand .row_item .row_title {
  width: 10%;
  height: 30px;
  line-height: 30px;
  text-align: left;
}
.new_brand .row_item .row_val {
  width: 85%;
  line-height: 30px;
}
.new_brand .row_item .row_val .item_name {
  width: 398px;
  height: 28px;
  border: 1px solid #e4e4e4;
  text-indent: 1em;
  font-size: 12px;
}
.new_brand .row_item .row_val .photo_box {
  padding-bottom: 12px;
}
.new_brand .row_item .row_val .photo_box .user_photo {
  width: 90px;
  height: 60px;
  border: none;
  vertical-align: middle;
  overflow: hidden;
}
.new_brand .edit_photo_box {
  min-height: 120px;
}
.option_item select {
  width: 400px;
  height: 30px;
  border: 1px solid #e4e4e4;
  padding: 0 15px;
  color: #333;
}
/*下拉框*/
.searchbox {
  position: relative;
  z-index: 1;
  clear: both;
  width: 400px;
  height: 30px;
  border: 1px solid #cacaca;
}
.searchbox .import {
  width: 280px;
  height: 30px;
  line-height: 30px;
  margin-top: -4px;
  margin-left: 70px;
  padding-left: 12px;
  border: none;
  outline: none;
}
.searchbox .btn_search {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  width: 20px;
  height: 20px;
  background: url(../img/icon_search_default.png) center no-repeat;
  background-size: contain;
  border: 0;
  cursor: pointer;
}
.searchbox .btn_search:hover {
  background: url(../img/icon_search_hover.png) center no-repeat;
}
.searchbox .search_input {
  height: 30px;
  line-height: 30px;
}
.mod_select {
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  border-right: 1px solid #cacaca;
}
.mod_select .select_box {
  position: relative;
  width: 70px;
  height: 30px;
  cursor: pointer;
}
.mod_select .select_box:hover .select_txt {
  color: #1DC6BC;
}
.mod_select .select_box:hover .select_icon {
  border-top: 5px solid #1DC6BC;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.mod_select .select_box .select_txt {
  display: inline-block;
  height: 30px;
  padding-left: 16px;
  overflow: hidden;
  line-height: 30px;
  font-size: 12px;
  cursor: pointer;
}
.mod_select .select_box .select_txt:hover {
  color: #1DC6BC;
}
.mod_select .select_box .select_icon {
  position: absolute;
  top: 13px;
  right: 16px;
  content: '';
  border-top: 5px solid #333;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.mod_select .select_box .select_icon:hover {
  border-top: 5px solid #1DC6BC;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.mod_select .select_box .option {
  display: none;
  position: absolute;
  top: 30px;
  left: -1px;
  width: 70px;
  background-color: #fff;
  border: 1px solid #cacaca;
  border-top: 0;
}
.mod_select .select_box .option li {
  padding-left: 16px;
  font-size: 12px;
  line-height: 30px;
  cursor: pointer;
}
.mod_select .select_box .option li:hover {
  color: #1DC6BC;
}
/*******************公用上传头像 start*******************/
.upload_photo_dialog {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 100;
  width: 600px;
  height: 560px;
  padding: 20px;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.upload_photo_dialog .upload_photo_title {
  height: 30px;
  line-height: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
}
.upload_photo_dialog .original_photo,
.upload_photo_dialog .thumbnail_photo {
  float: left;
}
.upload_photo_dialog .original_photo img,
.upload_photo_dialog .thumbnail_photo img {
  vertical-align: middle;
}
.upload_photo_dialog .original_photo {
  width: 300px;
  height: auto;
}
.upload_photo_dialog .original_photo .large_photo {
  width: 300px;
  height: 300px;
  border: 1px solid red;
  vertical-align: top;
}
.upload_photo_dialog .thumbnail_photo {
  width: 240px;
  height: auto;
}
.upload_photo_dialog .thumbnail_photo .small_photo {
  width: 100px;
  height: 100px;
  margin: 60px auto 0;
  overflow: hidden;
}
.upload_photo_dialog .thumbnail_photo .thumbnail_text {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #7c858e;
  letter-spacing: 1px;
}
.upload_photo_dialog .tips_msg {
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #bababa;
}
.upload_photo_dialog .upload_btn_box {
  margin-top: 10px;
  text-align: center;
}
.upload_photo_dialog .upload_btn_box .choose_img {
  width: 60px;
  height: 14px;
  line-height: 14px;
  border: none;
}
.upload_photo_dialog .upload_btn_box .choose_img:hover {
  background: #fff;
  color: #0B9C94 !important;
}
.upload_photo_dialog .btn_box {
  margin-top: 10px;
  margin-left: 0;
  padding: 0;
  text-align: center;
}
.upload_photo_dialog .btn_box .create_cancel {
  margin-right: 50px;
}
/*******************公用上传头像 end*******************/
