/**
 * Created by WangYT on 2018/5/14.

 */
/**
 * Created by Arley on 2016/12/14.
 */
/*** Basic configuration variables ***/
.tab {
  width: 100%;
  margin-top: 40px;
  height: 42px;
  line-height: 42px;
  border-bottom: 0;
}
.tab .tab_list {
  overflow: visible;
  width: 100%;
  padding-left: 0;
  border: 1px solid #F4F4F4;
  background-color: #F8F8F8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tab .tab_list .tab_item {
  width: 116px;
  height: 40px;
  line-height: 40px;
  margin-right: 0;
}
.tab .tab_list .tab_item:after {
  height: 4px;
  top: -4px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.tab .tab_list .tab_item:hover:after {
  display: none;
}
.tab .tab_list .active {
  background-color: #fff;
}
.tab .tab_list .active span {
  position: absolute;
  width: 116px;
  height: 6px;
  left: 0;
  bottom: -4px;
  background-color: #fff;
}
.tab .tab_list .active:hover:after {
  display: block;
}
.img_info {
  margin-top: 10px;
}
.details_item {
  width: 100%;
  height: auto;
  border: 1px solid #F4F4F4;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid transparent;
}
.details_item:after,
.details_item:before {
  content: '';
  display: block;
  clear: both;
}
.details_item .detail_title {
  position: relative;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: bold;
}
.details_item .detail_title:before {
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  left: 8px;
  height: 20px;
  border-left: 4px solid #1DC6BC;
}
.details_item .detail_box {
  padding: 20px 30px 20px 30px;
}
.details_item .detail_box .img_list {
  height: auto;
  margin: 20px 0 30px;
  overflow: hidden;
}
.details_item .detail_box .img_list:after {
  content: '';
  display: block;
  clear: both;
}
.details_item .detail_box .img_list .list_item {
  position: relative;
  float: left;
  width: 128px;
  height: 130px;
  margin: 20px 40px 0 0;
  overflow: hidden;
}
.details_item .detail_box .img_list .list_item a {
  display: block;
}
.details_item .detail_box .img_desc {
  padding: 0 5px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
}
.details_item .detail_box img {
  width: 120px;
  height: 90px;
  background: #FFFFFF;
  overflow: hidden;
}
.details_item .detail_box.operate_logs {
  border: none;
  padding: 0 0 0 30px;
  margin: 0 0 20px 0;
}
.details_item .detail_box.operate_logs .his_remark {
  line-height: 24px;
  margin-top: 6px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.details_item .detail_box.operate_logs .light_color {
  color: #333;
}
.details_item .detail_footer {
  width: 100%;
  margin-bottom: 40px;
  text-align: right;
}
.details_item .detail_footer .detail_high_btn {
  display: inline-block;
  width: 110px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px ;
  margin-right: 20px;
  background: #1DC6BC;
  color: #fff;
}
.details_item .detail_footer .detail_high_btn:hover {
  background: #0B9C94;
}
.details_item .detail_footer .detail_low_btn {
  display: inline-block;
  width: 110px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #1DC6BC;
  background: #fff;
  border-radius: 4px ;
  border: 1px solid #1DC6BC;
  margin-right: 20px;
}
.details_item .detail_footer .detail_low_btn:hover {
  color: #0B9C94;
  border: 1px solid #0B9C94;
}
.details_item .detail_footer a:last-child {
  margin-right: 68px;
}
.details_item .detail_inline_footer {
  line-height: 66px;
  text-align: right;
  margin: 30px 0 0;
  border-top: 1px solid #F4F4F4;
}
.details_item .classify_title {
  position: relative;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  font-size: 12px;
  color: #333;
}
.details_item .classify_title:before {
  content: '';
  display: block;
  position: absolute;
  top: 14px;
  left: 0;
  height: 12px;
  border-left: 2px solid #1DC6BC;
}
.details_item .classify_list_title {
  position: relative;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  color: #1DC6BC;
}
.details_item .pretrial_title {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  color: #1DC6BC;
  text-decoration: underline;
}
.details_item .pretrial_title:hover {
  color: #0B9C94;
}
.details_item .classify_content {
  width: 100%;
}
.details_item .classify_content .items_list {
  width: 100%;
  height: auto;
}
.details_item .classify_content .item_row {
  float: left;
  width: 50%;
  line-height: 40px;
  box-sizing: border-box;
  position: relative;
}
.details_item .classify_content .item_row .item_name {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  color: #666;
}
.details_item .classify_content .item_row .item_name.long_text {
  line-height: 18px;
  vertical-align: top;
  margin-top: 16px;
}
.details_item .classify_content .item_row .item_value {
  display: inline-block;
  width: 74%;
  padding: 0 2%;
  vertical-align: top;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  color: #333;
}
.details_item .classify_content .item_row .item_value .customer_name {
  position: relative;
  color: #4A90E2;
  text-decoration: underline;
}
.details_item .classify_content .item_row .item_value .customer_name .count_num {
  z-index: 10;
  display: block;
  position: absolute;
  right: -18px;
  top: -8px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #4A90E2;
  text-align: center;
  font-style: normal;
  font-size: 10px;
  color: #ffffff;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.details_item .classify_content .item_row .long_text {
  line-height: 24px;
  padding-top: 8px;
}
.details_item .classify_content .item_remark {
  width: 100%;
  line-height: 40px;
}
.details_item .classify_content .item_remark .item_name {
  display: inline-block;
  width: 10%;
  vertical-align: top;
  color: #666;
}
.details_item .classify_content .item_remark .item_value {
  display: inline-block;
  width: 86%;
  padding: 0 1%;
  color: #333;
  line-height: 24px;
  margin-top: 9px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.details_item .classify_content .item_row.whole_line {
  width: 100%;
  height: auto;
}
.details_item .classify_content .item_row.whole_line:after {
  content: '';
  display: block;
  clear: both;
}
.details_item .classify_content .item_row.whole_line .item_name {
  width: 10%;
}
.details_item .classify_content .item_row.whole_line .item_value {
  width: 84%;
  line-height: 20px;
  padding: 15px 1% 0;
  white-space: normal;
}
.details_item .classify_content .pigeonhole_list {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.details_item .classify_content .pigeonhole_list .pigeonhole_item {
  width: 100%;
  line-height: 40px;
  box-sizing: border-box;
}
.details_item .classify_content .pigeonhole_list .pigeonhole_item .item_name {
  display: inline-block;
  width: 10%;
  vertical-align: top;
  color: #666;
}
.details_item .classify_content .pigeonhole_list .pigeonhole_item .item_value {
  display: inline-block;
  padding: 0 2%;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
}
.details_item .classify_content .pigeonhole_list .pigeonhole_item .item_value_box {
  display: inline-block;
  width: 84%;
  padding-top: 8px;
  line-height: 24px;
}
.details_item .classify_content .pigeonhole_list .pigeonhole_item .item_value_box .item_value {
  display: inline-block;
  padding: 0 2%;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
}
.details_item .classify_content .pigeonhole_list .pigeonhole_item .item_value_box .item_value .pigeonhole_icon {
  display: inline-block;
  margin-left: 5px;
  width: 12px;
  height: 15px;
  background: url(../img/operation_small_icon.png) no-repeat;
  vertical-align: middle;
}
.details_item .classify_content .pigeonhole_list .pigeonhole_item .item_value_box .item_value .pigeonhole_icon_error {
  background-position: -68px -478px;
}
.details_item .classify_content .pigeonhole_list .pigeonhole_item .item_value_box .item_value .pigeonhole_icon_pass {
  background-position: -68px -494px;
}
.details_item .classify_content .pigeonhole_list .pigeonhole_item_remark {
  float: left;
  width: 100%;
  line-height: 40px;
}
.details_item .classify_content .pigeonhole_list .pigeonhole_item_remark .item_name {
  display: inline-block;
  width: 10%;
  vertical-align: top;
  color: #666;
}
.details_item .classify_content .pigeonhole_list .pigeonhole_item_remark .item_value_box {
  display: inline-block;
  margin-top: 8px;
  width: 84%;
  line-height: 24px;
}
.details_item .classify_content .pigeonhole_list .pigeonhole_item_remark .item_value_box .item_name {
  display: inline-block;
  width: 10%;
  vertical-align: top;
  color: #666;
}
.details_item .classify_content .pigeonhole_list .pigeonhole_item_history {
  float: left;
  width: 100%;
  line-height: 40px;
}
.details_item .classify_content .pigeonhole_list .pigeonhole_item_history .item_name {
  display: inline-block;
  width: 10%;
  vertical-align: top;
  color: #666;
}
.details_item .classify_content .pigeonhole_list .pigeonhole_item_history .item_value_box {
  display: inline-block;
  margin-top: 8px;
  width: 78%;
  max-height: 96px;
  overflow: hidden;
  line-height: 24px;
}
.details_item .classify_content .pigeonhole_list .pigeonhole_item_history .item_value_box .item_name {
  display: inline-block;
  width: 10%;
  vertical-align: top;
  color: #666;
}
.details_item .classify_content .pigeonhole_list .pigeonhole_item_history .item_value_box .item_value {
  display: inline-block;
  padding: 0 2%;
  width: 45%;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
}
.details_item .classify_img .img_list {
  overflow: hidden;
}
.details_item .classify_img .img_list .img_item {
  float: left;
  height: 76px;
  margin: 20px 20px 0 0;
}
.details_item .classify_img .img_list .img_item:nth-child(11n) {
  margin-right: 0;
}
.details_item .classify_img img {
  width: 60px;
  height: 45px;
}
.details_item .classify_img .img_desc {
  height: 20px;
  line-height: 20px;
}
.details_item .remark_desc {
  line-height: 30px;
}
.details_item .requestpayout_img .img_list {
  margin-top: -20px;
}
.details_item .datum_desc {
  line-height: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e4e4;
  font-size: 0;
}
.details_item .datum_desc span {
  display: inline-block;
  width: 18%;
  padding-right: 2%;
  font-size: 12px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.details_item .delivery_type {
  height: 40px;
  line-height: 40px;
}
.details_item .delivery_type .type {
  color: #1DC6BC;
}
.details_item .operate_logs .img_list {
  margin: 0;
}
.details_item .operate_logs .img_list .img_item {
  height: 54px;
  margin: 20px 16px 0 0;
}
.details_item .operate_logs .img_list .img_item:nth-child(10n) {
  margin-right: 0;
}
.details_item .operate_logs .img_list .img_item:nth-child(11n) {
  margin-right: 16px;
}
.border_none {
  border: none;
}
/*商户及下拉样式*/
.merchant_slidedown_arrow {
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
  width: 25px;
  height: 15px;
  cursor: pointer;
}
.merchant_slidedown_arrow {
  background: url(../img/slidedown_down_icon.png) no-repeat;
}
.merchant_slidedown_up_arrow {
  background: url(../img/slidedown_up_icon.png) no-repeat;
}
.merchant_slidedown_arrow_detail {
  z-index: 100;
  width: 392px;
  line-height: 20px;
  position: absolute;
  top: 40px;
  background: #ffffff;
  box-shadow: 0 0 4px 0 rgba(192, 192, 192, 0.5);
  margin-bottom: 100px;
}
.merchant_slidedown_arrow_detail .merchant_slidedown_arrow_detail_title {
  font-size: 20px;
  color: #333;
  padding: 20px;
}
.merchant_slidedown_arrow_detail .merchant_remark {
  font-size: 12px;
  padding: 5px 20px;
  color: #1DC6BC;
}
.merchant_slidedown_arrow_detail .merchant_slidedown_arrow_detail_shoptype {
  display: inline-block;
  width: 36%;
  padding: 5px 20px;
  color: #333;
}
.merchant_slidedown_arrow_detail .merchant_slidedown_arrow_detail_shoptype .merchant_slidedown_arrow_detail_shoptype_label,
.merchant_slidedown_arrow_detail .merchant_slidedown_arrow_detail_shoptype .merchant_slidedown_arrow_detail_shoptype_txt {
  float: left;
  font-size: 10px;
}
.merchant_slidedown_arrow_detail .merchant_slidedown_arrow_detail_shoptype .merchant_label_txt {
  padding-right: 10px;
}
.request-img-box {
  width: 60px;
  margin-top: 22px;
  margin-right: 38px;
  display: inline-block;
}
.request-img-box .imgText {
  width: 100%;
  line-height: 40px;
  font-size: 14px;
  color: #333333;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#imgDetail_merchant img {
  width: 60px;
  height: 45px;
}
.cursor {
  cursor: default;
}
.location {
  position: relative;
}
.customer_btn_box {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  height: 40px;
  line-height: 40px;
}
.section .customer_btn {
  position: relative;
  padding: 0 20px;
}
.section .customer_btn:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 17px;
  height: 16px;
  background: url(../img/operation_small_icon.png) no-repeat;
  vertical-align: middle;
}
.section .renew_notify_result {
  color: #1DC6BC;
}
.section .renew_notify_result:before {
  background-position: -64px -571px;
}
.section .renew_notify_result:hover {
  color: #0B9C94;
}
.section .renew_notify_result:hover:before {
  background-position: -64px -591px;
}
.section .renew_notify_result_gray {
  color: #999999;
  cursor: default;
}
.section .renew_notify_result_gray:before {
  background-position: -64px -611px;
}
.section .renew_send_contract {
  color: #1DC6BC;
}
.section .renew_send_contract:before {
  background-position: -64px -511px;
}
.section .renew_send_contract:hover {
  color: #0B9C94;
}
.section .renew_send_contract:hover:before {
  background-position: -64px -531px;
}
.section .renew_send_contract_gray {
  color: #999999;
  cursor: default;
}
.section .renew_send_contract_gray:before {
  background-position: -64px -551px;
}
/********** 预审详情 start **********/
.pretrial_details {
  padding: 0px 0 20px;
  position: relative;
}
.pretrial_details .credit {
  display: block;
  position: absolute;
  right: 0;
  top: 10px;
  padding-left: 24px;
  height: 30px;
  color: #1DC6BC;
  line-height: 30px;
  z-index: 99;
}
.pretrial_details .credit:before {
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  left: 4px;
  width: 18px;
  height: 20px;
  vertical-align: middle;
  background: url(../img/operation_small_icon.png) no-repeat 0 0;
  background-position: -64px -842px;
}
.pretrial_details .credit:hover {
  color: #0B9C94;
}
.pretrial_details .credit:hover:before {
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  left: 4px;
  width: 18px;
  height: 20px;
  vertical-align: middle;
  background: url(../img/operation_small_icon.png) no-repeat 0 0;
  background-position: -64px -862px;
}
.pretrial_details .pretrial_desc .detail_title {
  margin-left: 10px;
}
.pretrial_details .details_item {
  border: none;
  margin-bottom: 0;
}
.pretrial_details .details_item .detail_box {
  border: 1px solid #e4e4e4;
}
/********** 预审详情 end **********/
/********** 信用报告 start **********/
.person_type {
  margin-top: 20px;
}
.person_type li {
  font-size: 12px;
  line-height: 18px;
  color: #666;
}
.credit_info {
  margin-top: 20px;
}
.credit_info .credit_info_title {
  font-size: 14px;
  line-height: 30px;
  color: #333;
}
.credit_info li {
  line-height: 20px;
  color: #333;
}
.credit_info .font_low_color {
  color: #666;
}
.credit_info .red {
  color: #EA4B5F;
}
.dis_none {
  display: none;
}
