/**
 *   Created by Arley Joe on 2018-3-29 13:46:44
 */
@import "variate";
.title.org_title{
    height: 60px;
    line-height: 60px;
    font-weight: bolder;
    border-bottom: none;
    font-size: 20px;
    margin-bottom: 6px;
}
.policies_container{
    .tab_list{
        width: 400px;
        .tab_item{
            width: 140px;
        }
    }
    .create_btn.detail_title_btn{
        &:before{
            top: 5px;
        }
        &.disabled{
            color: #999;
            &:hover{
                color: #999 !important;
                cursor: default;
            }
            &:before{
                background-position: -4px -1203px;
            }
        }
    }
    .module_list{
        .title{
            position: relative;
            height: 40px;
            line-height: 40px;
            padding: 15px 0 0 10px;
            border-bottom: none;
            &:before{
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 26px;
                width: 4px;
                height: 18px;
                background: @active-color;
            }
        }
        .module_name{
            font-size: 14px;
        }
        table.normal{
            max-height:450px;
            tr{
                height: 50px;
            }
            tbody{
                tr{
                    height: 40px;
                    border-top: none;
                    border-bottom: none;
                    cursor: pointer;
                    &:hover{
                        background: @tr-hover;
                    }
                }
                tr:last-child{
                    border-bottom: 1px solid @border-color;
                }
            }
        }
        .page{
            height: 60px;
            line-height: 60px;
            padding-bottom:10px;
            margin-bottom: 30px;
        }
    }
    .rebate_container{
        display: none;
        z-index: 1000;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,.8);
        text-align: center;
        .content{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 760px;
            height: 260px;
            margin: auto;
            background: #fff;
            .title{
                height: 80px;
                line-height: 80px;
                font-size: 16px;
                font-weight: bolder;
                border: none;
            }
        }
        .form_options{
            padding: 0;
            margin: 0;
            background: none;
        }
        .option_item{
            height: 80px;
            line-height: 80px;
        }
        .column_val{
            padding: 0;
            width: 100%;
        }
        .btn_box{
            margin-top: 0;
        }
    }
}
/******* 制定政策页面  start *****/
.policy_container{
    .title_btn{
        margin: 0;
        height: 50px;
        line-height: 50px;
        text-align: right;
    }
    .form_options{
        background: none;
        padding-left: 0;
        padding-bottom: 0;
        margin-top: 0;
        .form_group{
            width: 72px;
        }
        .option_item{
            line-height: 50px;
            .pad_lf_rt_10{
                padding:0 10px;
            }
        }
        .btn_box{
            margin-left: 15%;
            margin-top: 15px;
            padding-left: 20px;
            padding-bottom: 30px;
        }
    }
    form{
        position: relative;
    }
    .disabled_mask{
        z-index: 900;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0);
    }
    .policy_rates{
        .form_group label{
            position: relative;
        }
        .tips_box{
            position: absolute;
            top: 0;
            right: 0;
        }
        .text_mark{
            z-index: 100;
            position: absolute;
            top: -12px;
            right: -22px;
            display: block;
            content: '';
            width: 23px;
            height: 23px;
            background: url(../img/operation_small_icon.png) no-repeat -61px -48px;
            cursor: help;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            &:hover{
                + .mark_box{
                    display: block;
                }
            }
        }
        .mark_box{
            position: absolute;
            top: 8px;
            left: 5px;
            z-index: 1000;
            display: none;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 110px;
            padding: 10px 10px 20px;
            -webkit-border-radius: @normal-radius;
            -moz-border-radius: @normal-radius;
            border-radius: @normal-radius;
            box-shadow: 0px 2px 4px 0px rgba(192,192,192,0.5);
            background: #FFFFFF;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            .mark_title{
                height: 40px;
                line-height: 40px;
                font-size: 14px;
                color: @active-color;
            }
            .desc_item{
                height: 26px;
                line-height: 26px;
                overflow: hidden;
                .periods,.value{
                    float: left;
                }
                .periods{
                    width: 58%;
                    text-align: right;
                }
                .value{
                    width: 42%;
                    text-align: left;
                }
            }
        }
    }
}
/******* 制定政策页面  end *****/

/******* 历史政策页面  start *****/
.history_container{
    .filtrate{
        margin: 20px 0 10px;
        .conditions_name {
            color: @normal-color;
        }
    }
    table.normal{
        max-height:450px;
        tr{
            height: 50px;
        }
        tbody{
            tr{
                height: 40px;
                border-top: none;
                border-bottom: none;
                cursor: pointer;
                &:hover{
                    background: @tr-hover;
                }
            }
            tr:last-child{
                border-bottom: 1px solid @border-color;
            }
        }
    }
}
/******* 历史政策页面  end *****/
/******* 商户政策列表页面  start *****/
.merchant_policies{
    .org_select_list{
        padding: 10px;
        .list_item{
            float: left;
            width: 100px;
            height: 28px;
            line-height: 28px;
            padding: 0 9px;
            border: 1px solid @border-color;
            margin: 0 20px 15px 0;
            text-align: center;
            -webkit-border-radius: @normal-radius;
            -moz-border-radius: @normal-radius;
            border-radius: @normal-radius;
            cursor: pointer;
            &.active,&:hover{
                color: #FFFFFF;
                background: @active-color;
                border: 1px solid @active-color;
            }
        }
    }
    .title.org_list_tile{
        padding-top: 0;
        &:before{
            top: 11px;
        }
    }
}
/******* 商户政策列表页面  end *****/