

input[type='checkbox']+label:before {
    top:0px;
}
input[type='checkbox']+label.part:before {
    background-position: 0 -100px;
}
.province_city_box{
    display:none;
    width: 0px;
    height: 0px;
    position: fixed;
    left: 50%;
    top: 0px;
    z-index: 99999;
}
.province_city_box_bg{
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    left: 0px;
    top: 0px;
    opacity: 0.6;
}

.province_city_dia{
    width:600px;
    height:464px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    margin:auto;
    background-color: #FFFFFF;
    border-radius: 4px;
}
/*.close_btn{
    width:16px;
    height:16px;
    position: absolute;
    top:12px;
    right:12px;
}*/
.title{
    padding:40px 0 24px 0;
    text-align: center;
    font-size:18px;
    color:#2B3C4A;
}
.middle{
    width:520px;
    height:284px;
    margin:0 auto;
}
.province_city{
    margin:10px;
    color:#1DC6BC;
    text-align: left;
    font-size: 12px;
}
.province_name{
    margin:0 10px 10px 10px;
    color:#666;
    font-size: 12px;
}
.province,.city{
    float: left;
    height:99%;
    border:1px solid #E6E6E6;
}
.province{
    width:35%;
}
.city_box{
    display:none;
}
.display{
    display:block;
}
.city{
    width:64%;
}
.province_ul,.city_ul{
    width:93%;
    height:85%;
    margin:0 10px;
    overflow: auto;
}
.province_ul::-webkit-scrollbar {
     width: 8px;
     height: 8px;
     background-color: #fff;
}
/*定义滚动条轨道 内阴影+圆角*/
.province_ul::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px #fff;
     border-radius: 10px;
     background-color: #fff;
}
/*定义滑块 内阴影+圆角*/
.province_ul::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px #fff;
     background-color: #f1f1f1;
}
.province_ul_li{
    padding:5px 0;
}
.province_ul_li:hover{
    background-color: #EFEFEF;
}
.city_ul_li{
    float: left;
    margin:5px 0;
    width:72px;
    text-overflow : ellipsis;
    white-space : nowrap;
    overflow : hidden;
}
.province_ul_li>span,.city_ul_li>span{
    color:#333;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -10px;
}
.province_bottom_btn{
    width:100%;
    height:62px;
}
.province_bottom_btn>a{
    display: inline-block;
    width: 110px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    line-height: 30px;
}
.province_confirm{
    background: #1DC6BC;
    margin:24px 0 0 160px;
}
.province_cancle{
    background: #A0A0A0;
    margin:24px 0 0 53px;
}
.select_pro{
    background-color:#E2F7F6;
}










