.ellipsis{
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.check{
    margin: 0 16% 0 0;
}
.check_img{
    float:left;
    margin-right:18px;
    margin-top:22px;
    cursor: pointer;
}
.icon_check{
    width:12px;height:12px;
    background:url('/static/img/organization/icon_check.png') center center no-repeat;
}
.icon_uncheck{
    width:12px;height:12px;
    background:url('/static/img/organization/icon_uncheck.png') center center no-repeat;
}
.selectBox{
    height:100px;
    border-bottom:0;
}
.select{
    width:100%;
    height:60px;
    color:#535E6A;
}
.select_firm,.select_city{
    float:left;
}
select{
    width:108px;height:30px;
    border:1px solid #E4E4E4;
    padding-left:5px;
}

.prount_count,.update_btn,.delete_btn{
    float: left;
}
.update_btn,.delete_btn{
    cursor: pointer;
}
.prount_count{
    width:85%;
}
.update_btn{
    margin-right: 20px;
}

table.normal td{
    text-align: left;
}
.product_table>tbody>tr>td{
    text-align: left;
}
.table_header_tr{
    height:60px;
    background-color:#fafafa;
    line-height: 60px;
    font-size:14px;
    color:#535E6A;
}
.product_table>tbody>tr[class*="product_tr"]>td{
    height:60px;
    line-height:40px;
    /*text-align: center;*/
}
.product_table>tbody>tr>td>div[class="ellipsis"]{
    width:100%;text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    color:#535E6A;
}

.mar_r_10{
    margin-right: 10px;
}
.view_detail_icon{
    background-position: 0 -614px;
}
.view_detail_icon:hover{
    background-position: 0 -638px;
}
.edit_detail_icon{
    background-position: 0 -662px;
}
.edit_detail_icon:hover{
    background-position: 0 -686px;
}




