
.product_detail_header{
    width:100%;
    height:92px;
    margin: 36px 0;
    position: relative;
}
.header_left{
    width:100%;
    height:100%;
}
.header_txt_name{
    width:100%;
    height:50%;
}
.header_right{
    color:#B0B0B0;
    font-size: 12px;
    right:0;
    width:70%;
    height:25px;
    line-height: 25px;
}
.header_left_img{
    width:112px;height:80px;
    margin-top:6px;
    margin-left:24px;
    margin-right:38px;
    background-color:#E4E4E4;
}
.header_left_img img{
    width:100%;height:100%;
}
.header_left_img,.header_txt,
.header_txt_bottom1,.header_txt_bottom2,
.header_time,.header_personal{
    float:left;
}
.header_txt{
    height:100%;
    width:70%;
}
.header_txt_top{
    float: left;
    font-size: 24px;
    color:#535E6A;
    margin-right: 14px;
}
.header_txt_bottom{
    float: left;
    margin-top:5px;
}
.header_txt_bottom1,.header_txt_bottom2 {
    width: 46px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #1DC6BC;
    border-radius: 3px;
    color: #1DC6BC;
    text-align: center;
    margin-right: 8px;
}
.inviteP,.delete_agency{
    top:0;
}

.tab{
    height:42px;
    line-height: 42px;
    border-bottom: 0;
}
.tab_list{
    overflow: visible;
    width:100%;
    padding-left: 0;
    border:1px solid #e4e4e4 ;
    background-color: #F9F9F9;
}
.tab_list .tab_item{
    width:116px;
    height:40px;
    line-height: 40px;
}
.active span{
    position: absolute;
    width: 116px;
    height: 6px;
    left: 0;
    bottom: -4px;
    background-color: #fff;
}
.tab_list .active{
    background-color: #fff;
    border-left:1px solid #E4E4E4;
    border-right:1px solid #E4E4E4;
}
.tab_list .tab_item:after{
    top:0;
}

/*.header_txt_bottom1{*/
    /*margin-right:8px;*/
/*}*/
/*.header_personal{*/
    /*margin-left:20px;*/
/*}*/

/*detail start*/
.product_detail_box{
    width:100%;
    border:1px solid #e4e4e4;
    border-top:0;
    background-color:#fff;
    position:relative;
    /*margin-top:15px;*/
}
.detail_title{
    width:100%;height:60px;
    line-height: 60px;
    color:#535E6A;
    font-size: 14px;
    border-bottom: 1px solid #e4e4e4;
    background-color:#fafafa;
}
.detail_line,.detail_title_txt,
.detail_about_label,.detail_about_date{
    float:left;
}
.detail_line{
    width:4px;height:18px;
    margin-left:9px;
    background-color:#1DC6BC;
    margin-top:21px;
    margin-right:6px;
}
.detail_about_txt{
    width:100%;height: 50px;
}
.detail_about{
    padding-left:29px;
    padding-right:29px;
    padding-bottom:20px;
    font-size: 12px;
    line-height: 50px;
    /*position: relative;*/
}
.detail_about_label{
    height:100%;
}
.detail_about_date{
    display:inline-block;
    width:89%;
    color:#808891;
    margin-left:5px;
    margin-top:0;
}

.rf_30{
    position: absolute;
    top:30px;
    right:30px;
}
.supplier_cartype{
    position: relative;
    color:#1DC6BC;
}
.supplier_cartype:before{
    content: '';
    display: block;
    position: absolute;
    left: -12px;
    top: 22px;
    width:5px;
    height:5px;
    border-radius: 50%;
    background-color: #1DC6BC;
}


.todo_list {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.no_list_data {
    margin: 100px 0;
    text-align: center;
}
.no_list_data .toast_img {
    width: 121px;
    height: 108px;
    background: url('../../img/no-data.png') no-repeat center;
    margin: auto;
}
.no_list_data .toast_text {
    height: 60px;
    line-height: 60px;
    color: #c7c7c7;
    font-size: 14px;
}







