
.crumbs_nav{
    border-bottom: 0;
}
.tab{
    height:40px;
    line-height: 40px;
    border-bottom: 0;
}
.tab_list{
    overflow: visible;
    width:100%;
    padding-left: 0;
    /*border-left:1px solid #e4e4e4 ;*/
    border-bottom:1px solid #e4e4e4 ;
}
.tab_list .tab_item{
    width:116px;
    height:40px;
    line-height: 40px;
}
.active span{
    position: absolute;
    width: 116px;
    height: 6px;
    left: 0;
    bottom: -4px;
    background-color: #fff;
}
.tab_list .tab_item.active,.tab_list .tab_item:hover{
    border-left:1px solid #E4E4E4;
    border-right:1px solid #E4E4E4;
}
.tab_list .tab_item:after{
    height:4px;
    top:-4px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.detail_about{
    padding:0 29px 20px 29px;
    border: 1px solid #E4E4E4;
}
.detail_about_txt{
    width:100%;
    /*height:126px;*/
    border-bottom: 1px solid #E4E4E4;
}
.detail_about_txt_last{
    width:100%;
    height:126px;
}
.detail_about_lf,.detail_about_rt{
    float: left;
}
.detail_about_lf{
    width:20%;
    padding:34px 0px;
}
.detail_about_rt{
    width:80%;
}
.detail_about_rt_top{
    padding:34px 0 14px 0;
}
.detail_about_rt_bot{
    padding:14px 0 0px 0;
}
.sentflag{
    display: inline-block;
}
.mar20{
    margin:0 20px 20px 0;
}
.mar40{
    margin-right: 40px;
}









